<a href="https://colab.research.google.com/github/lanky441/sure_2025_python/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is python?
Python is a programming language! Just like English is a language that we use to express our feelings and thoughts (through speaking or writing), python is a language to write computer programs.

## What is a program then?
A computer program is a sequence or set of instructions for a computer to execute. You can use computer program to do many things including mathematical calculations, web development, making softwares (the limit is only your imagination).

## Just like we have other languages like english, do we have more programming languages?
Yes, there are many programming languages like python, e.g., `Java`, `C++`, `R`, `Julia`. Different programming languages are better suited for different jobs and they all have some advantages and some disadvantages.

## Why learn python?
Python is very intuitive and easy to learn. Also, it is very popular. So if you learn python, you can write a program that many people will understand and benifit from. You will also have access to many many python programs others have already written and can use them for your own work. You will become part of a big community and so, if you have any problem while writing your program, there will be many people to help you.

## Let us start learning. Firstly, we can use python as calculator.

We can use python for all basic algebra like addition (+), subtraction (-), multiplication (\*), division (/), and exponentiation (\*\*). Here are the list of avalaible operations.
<br>
<br>
<img src='https://drive.google.com/uc?id=1oWIHaQ7iBeObJJWTooYigxNRfYnOqEna' width='600'>
<br>
## Putting comments
We use `#` for putting comments in our code, i.e., the lines starting with `#` will be not executed (run) by python.

In [1]:
# Addition
2+3

5

In [2]:
# Subtraction
11-6

5

In [3]:
# Multiplication
5*12

60

In [4]:
# Division
12/3

4.0

In [5]:
# Exponent
5**2

25

**Check what `%` and `//` are used for..**

In [6]:
32%5

2

In [7]:
32//5

6

## Variables
Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

In [8]:
x = 5
y = 3.14
z = "John"

## Print function
You can print something using the `print` function. The systax is `print(what you want to print)`

In [9]:
print(5)

5

In [10]:
print(3.14)

3.14

In [11]:
print("Hello, World!")

Hello, World!

In [12]:
x = 5
y = 3.14
z = "John"

print(x)
print(y)
print(z)

5
3.14
John

**Explore at home**

By default, the `print` statement ends with a `linebreak`. But, you can change it if you want by using the `end` argument.

In [13]:
x = 5
y = 3.14
z = "John"

print(x, end=' ')
print(y, end=' ')
print(z, end=' ')

5 3.14 John

In [14]:
x = 5
y = 3.14
z = "John"

print(x, end='\t') # \t -> tab
print(y, end='\n') # \n -> linebreak
print(z, end='...')

5	3.14
John...

# Python Data Types

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

<br>
<br>
<img src='https://drive.google.com/uc?id=1Mn39mDoysLOvrgpE-n02qryeFYJdXQFn' width='500'>
<br>

In [15]:
# str
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [16]:
# str
x = "123"
print(x)
print(type(x))

123
<class 'str'>

In [17]:
# You can add two strings with `+` operator
x = "Hello "
y = "World!"
print(x + y)

Hello World!

In [18]:
x = "1"
y = "2"
print(x + y)

12

In [19]:
# int
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [20]:
# float
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

**Boolean**

In [21]:
# bool
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [22]:
x = 5 > 3
print(x)
print(type(x))

True
<class 'bool'>

In [23]:
# notice the `==` sign. In python, single `=` is used for an assignment
# and `==` is used to check equality.
x = 5 == 3
print(x)
print(type(x))

False
<class 'bool'>

# list

In [24]:
# list
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [25]:
# you can have different types of elements in a python list
x = ["apple", 1.5, 20, False]
print(x)

['apple', 1.5, 20, False]

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [26]:
print(x[0])
print(type(x[0]))

apple
<class 'str'>

In [27]:
print(x[1])
print(type(x[1]))

1.5
<class 'float'>

In [28]:
print(x[2])
print(x[3])

20
False

We can access items in a list backward by using negative index. The last item has index `-1`, second last `-2`, ...

In [29]:
print(x[-1])
print(x[-2])

False
20

**Explore at home**

The function `len()` is used to calculate the number of elements in a list.

In [30]:
# create a list with 12 items of different data types including int, float, str, and bool
# print the 3rd and 8th items of the list
# Also, print the 3rd last item of the list
# Remember the first item has index `0`

a = [1, 2, 5.4, 'a', True, "apple", 7, False, 3.14, "banana", 1.0, "d"]
print("Length of the list = ", len(a))

print("3rd item = ", a[2])
print("8th item = ", a[7])
print("3rd last item = ", a[-3])

Length of the list =  12
3rd item =  5.4
8th item =  False
3rd last item =  banana

A `str` is a list of characters!

In [31]:
a = "Hello World!"
print(a)
print(a[0])
print(a[5])
print(a[-1])

Hello World!
H

!

## Manipulating lists

Python has some built-in methods we can use on list. Feel free to try all of them at home. Here we will look into a few of them.

<br>
<br>
<img src='https://drive.google.com/uc?id=1iDXJLQQ_iwrS9AEinXSeLCKPhFB9lI7V' width='500'>
<br>

In [32]:
a = [1, 3, 2, 5, 4, 6, 7, 8, 9]
print(a)

[1, 3, 2, 5, 4, 6, 7, 8, 9]

In [33]:
a.append(10)
print(a)

[1, 3, 2, 5, 4, 6, 7, 8, 9, 10]

In [34]:
a.remove(2)
print(a)

[1, 3, 5, 4, 6, 7, 8, 9, 10]

In [35]:
# a.insert(index, object)
a.insert(5, 2)
print(a)

[1, 3, 5, 4, 6, 2, 7, 8, 9, 10]

In [36]:
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# You can add the elements of two list to make one single list
b = [1, 2, 3]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [40]:
# Explore at home
# Crate a list of different animals you like
# Add one more animal name at the 3rd position
# sort them alphabetically

animals = ["dog", "cat", "bird", "cow"]

animals.insert(2, "elephant")
print(animals)

animals.sort()
print(animals)

['dog', 'cat', 'elephant', 'bird', 'cow']
['bird', 'cat', 'cow', 'dog', 'elephant']

**List slicing**

You can access only a specified set of elements.

In [41]:
# a[start:end:step]
# start index in included, but the end index is not included
a = [1, 3, 2, 5, 4, 6, 7, 8, 9]
print(a[2:8:2])

[2, 4, 7]

In [42]:
# a[start:end:step]
# By default, the `start = 0`, `end = -1`, and `step = 1`
print(a[::])

[1, 3, 2, 5, 4, 6, 7, 8, 9]

In [43]:
# In fact, you can ignore the second `:` if you want `step = 1`
print(a[:5])
print(a[5:])

[1, 3, 2, 5, 4]
[6, 7, 8, 9]

In [44]:
# Explore at home
# Create a list of integers from 1 to 10
# Print only the numbers between 3 and 9 from that list
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[2:9])

[3, 4, 5, 6, 7, 8, 9]

## dictionary
**Explore at home**

In [45]:
# dictionary
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [46]:
print("Name of the person:", x["name"])
print("Age of the person:", x["age"])

Name of the person: John
Age of the person: 36

# Python Conditions and If statements

Python supports the usual logical conditions from mathematics:
- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

In [47]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Indentation

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code

In [48]:
# you will get errors without indentation
a = 10
if a > 5:
print("a is greater than 5")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-48-8d19a466e43d>, line 4)

In [49]:
a = 10
if a > 5:
  print("a is greater than 5")

a is greater than 5

In [50]:
# The number of whitespaces or tabs should match between different lines within an if statement
a = 10
if a > 5:
  print("a is greater than 5")
    print("That's great!")

IndentationError: unexpected indent (<ipython-input-50-95763ae4dbf0>, line 5)

In [51]:
a = 10
if a > 5:
  print("a is greater than 5")
  print("That's great!")

a is greater than 5
That's great!

In [52]:
# Removing indentation will take the code out of the if statement
a = 4
if a > 5:
  print("a is greater than 5")
print("That's great!") #This line doesn't come under the if statement

That's great!

### elif

The `elif` keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [53]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### else
The `else` keyword catches anything which isn't caught by the preceding conditions.

In [54]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### and
The `and` keyword is a logical operator, and is used to combine conditional statements:

In [55]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### or
The `or` keyword is a logical operator, and is used to combine conditional statements:

In [56]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### not
The `not` keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [57]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [58]:
# Explore at home
# Write an if-elif-else condition to check whether a given numer is even, odd, or not an integer
a = 5.3
if a % 2 == 0:
  print("a is even")
elif a % 2 == 1:
  print("a is odd")
else:
  print("a is not an integer")

a is not an integer

### Nested If
You can have `if` statements inside `if` statements, this is called nested `if` statements.

In [59]:
x = 41

if x > 10:
  print("x is above ten,")
  if x > 20:
    print("And x is also above 20!")
  else:
    print("but not above 20.")

x is above ten,
And x is also above 20!

# Python Loops

Python has two primitive loop commands:

- `while` loops
- `for` loops

## The While Loop
With the `while` loop we can execute a set of statements as long as a condition is true.

In [60]:
# Remember to indent
i = 1
while i < 6:
  print(i)
  i += 1   # i = i +1

1
2
3
4
5

### Explore at home
***The `break` Statement***

With the `break` statement we can stop the loop even if the while condition is true:

In [61]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### Explore at home
**The `continue` Statement**

With the `continue` statement we can stop the current iteration, and continue with the next:

In [62]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## Python For Loops
A `for` loop is used for iterating over a sequence.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [63]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [64]:
a = [1, 2, 3, 4, 5]
for x in a:
  print(x**2)

1
4
9
16
25

### Explore at home
Just like in `while` loop, we can use `break` and `continue` statements with for loop.

In [65]:
# print name of the fruits but stop when x is "banana":
fruits = ["apple", "grapes", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
grapes
banana

In [66]:
# Print all fruits except banana:
fruits = ["apple", "grapes", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
grapes
cherry

### The `range()` Function
To loop through a set of code a specified number of times, we can use the `range()` function,
The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

`range(start=0, end, step=1)`

The end value is not included.

In [67]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [68]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [69]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [70]:
for x in range(2, 20, 3):
  print(x)

2
5
8
11
14
17

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [71]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  print("adj = ", x)
  for y in fruits:
    print("fruit = ", y)
    print(x, y)
  print("Starting new outer loop...")

adj =  red
fruit =  apple
red apple
fruit =  banana
red banana
fruit =  cherry
red cherry
Starting new outer loop...
adj =  big
fruit =  apple
big apple
fruit =  banana
big banana
fruit =  cherry
big cherry
Starting new outer loop...
adj =  tasty
fruit =  apple
tasty apple
fruit =  banana
tasty banana
fruit =  cherry
tasty cherry
Starting new outer loop...

### Explore at home

**Print out this using nested for loop**

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

In [72]:
for i in range(1, 7):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

# Python functions

- A function is a block of code which only runs when it is called.

- You can pass data, known as parameters, into a function.

- A function can return data as a result.

**Creating a Function**

In Python, a function is defined using the `def` keyword:

In [73]:
def my_function():
  print("Hello from my function!")
  print("Bye!")

In [74]:
# Just creating a function does not print those statements
# You need to call the function

my_function()

Hello from my function!
Bye!

## Arguments
Information can be passed into functions as arguments.

In [75]:
def my_function(name):
  print("Hello, " + name + "!")


my_function("John")
my_function("Sara")

Hello, John!
Hello, Sara!

You can use as many arguments (or parameters) as you want to define a function. Here is an example with two arguments.

In [76]:
def my_function(fname, lname):
  print("Hello, " + fname + " " + lname + "!")

my_function("John", "Doe")

Hello, John Doe!

**Number of Arguments**

A function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [77]:
my_function("John")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [78]:
my_function("John", "Doe", "Smith")

TypeError: my_function() takes 2 positional arguments but 3 were given

**Default Parameter Value**

The following example shows how to use a default parameter value.

In [79]:
def my_function(country = "Norway"):
  print("I am from " + country + "!")

my_function()
my_function("Sweden")
my_function("India")
my_function("Brazil")

I am from Norway!
I am from Sweden!
I am from India!
I am from Brazil!

**Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [80]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values

To let a function return a value, use the `return` statement:

In [81]:
def my_function(x):
  return 5 * x

y = my_function(6)
print(y)

30

You can use mutiple arguments and define complicated functions. Here are few things to try out.

In [82]:
# Define a function that will calculate and return x^5 for any value of x

def my_function(x):
  return x**5

print(my_function(3))
print(my_function(5))

243
3125

In [83]:
# Define a function that will calculate and return (x+y)^2 for given values of x and y

def my_function(x, y):
  return (x+y)**2

print(my_function(3, 4))
print(my_function(5, 6))

49
121

In [84]:
# Define a function that will calculate and return factorial(x) or x!
# x! = 1*2*3*4*5*...*x
# For example, 5! = 1*2*3*4*5 = 120
# 0! = 1

def factorial(x):
  if x == 0:
    return 1
  fact = 1
  for i in range(1, x+1):
    fact = fact * i

  return(fact)

print(factorial(5))

120

## Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

Recursion must have a stopping criterion, i.e., the function must stop calling itself and return some value when a certain condition is reached.

In [85]:
# Let us try to calculate the factorial again
# x! = x * (x-1)!
# 5! = 5 * 4! = 5 * 4 * 3! = 5 * 4 * 3 * 2! = 5 * 4 * 3 * 2 * 1! = 5 * 4 * 3 * 2 * 1 = 120

def factorial(x):
  if x == 0:
    return 1
  if x == 1:
    return 1
  else:
    return x * factorial(x-1)

print(factorial(5))
print(factorial(10))

120
3628800

In [86]:
# Fibonacci Sequence
# The Fibonacci Sequence is a series of numbers:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ...
# Every next number is found by adding up the two numbers before it.

# The first two numbers are 0 and 1.
# The next number in the sequence is the sum of the previous two numbers.

# Write a function that will return the nth Fibonacci number

def fibonacci(n):
  if n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))

34

#Exercises

In [87]:
# Palindrome Checker
# Write a function that checks if a word is a palindrome (same forward and backward), ignoring spaces and case.

def palindrom_checker(word):
  word_length = len(word)
  for i in range(word_length//2):
    if word[i] != word[word_length-1-i]:
      print("The word is not a palindrome")
  print("The word is a palindrome")

palindrom_checker("racecar")

The word is a palindrome

In [91]:
# Vowel Counter
# Write a function that takes a word and counts how many vowels (a, e, i, o, u) it contains.

def vowel_counter(word):
  n_vowels = 0
  for i in range(len(word)):
    if word[i] in ['a', 'e', 'i', 'o', 'u']:
      n_vowels += 1
  return n_vowels

print(vowel_counter("hello"))

2

In [95]:
# Word Reverser
# Write a function that takes a sentence and returns the sentence with each word reversed (but the order of words remains unchanged). Words are separated by whitespace " ".

def word_reverser(sentence):
  words = sentence.split()
  reversed_sentence = ""
  for word in words:
    reversed_sentence += word[::-1]
    reversed_sentence += " "
  return reversed_sentence

print(word_reverser("hello world"))

olleh dlrow

In [97]:
# Sum of Elements
# Write a function that takes a list of numbers and returns the sum.

def sum_of_elements(a):
  sum = 0
  for element in a:
    sum += element
  return sum

print(sum_of_elements([1, 2, 3, 4, 5]))

15

In [112]:
# List Reverser (without using `reverse()` or slicing)
# Write a loop that reverses a list manually.

a = [1, 2, 3, 4, 5]
for i in range(len(a)//2):
  temp = a[i]
  a[i] = a[len(a)-1-i]
  a[len(a)-1-i] = temp

print(a)

[5, 4, 3, 2, 1]

In [111]:
# Remove Duplicates
# Write a function that removes duplicates from a list and returns the new list.

def remove_duplicates(a):
  new_list = []
  for element in a:
    if element not in new_list:
      new_list.append(element)
  return new_list

a = [1, 9, 3, 1, 7, 2, 5, 1, 7, 9, 4]
print(remove_duplicates(a))

[1, 9, 3, 7, 2, 5, 4]

In [106]:
# Find Maximum and Minimum
# Without using max() or min(), write functions to find the maximum and minimum number in a list.

def find_max(a):
  t = a[0]
  for element in a:
    if element > t:
      t = element
  return t

def find_min(a):
  t = a[0]
  for element in a:
    if element < t:
      t = element
  return t

a = [5, 1, 7, 2, 0, -3, 11, 6, 5]
print("Maximum number= ", find_max(a))
print("Minimum number = ", find_min(a))

Maximum number=  11
Minimum number =  -3

In [105]:
# List Comprehension Practice
# Given a list of numbers, return a list of squares of only the even numbers using list comprehension.

def square_even(a):
  return [x**2 for x in a if x%2 == 0]

print(square_even([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[4, 16, 36, 64, 100]

In [108]:
# FizzBuzz
# Print numbers from 1 to 30. For multiples of 3, also print "Fizz", for multiples of 5 also print "Buzz", and for multiples of both print "FizzBuzz".

for i in range(1, 31):
  if i%3 == 0 and i%5 == 0:
    print(i, "FizzBuzz")
  elif i%3 == 0:
    print(i, "Fizz")
  elif i%5 == 0:
    print(i, "Buzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz

In [104]:
# Prime Number Checker
# Write a function that checks whether a number is prime or not.

def is_prime(n):
  if n == 1:
    return False
  if n == 2:
    return True

  for i in range(2, n//2):
    if n % i == 0:
      return False
  return True

print(is_prime(27))

False

In [100]:
# Write a function that converts temperature from Fahrenheit to Celcius and vice-versa
# Use the formula below where `C` is Celcius temperatue and `F` is termperature in Fahrenheit
# C/5 = (F - 32)/9

def convert_temp(temp, unit="F"):
  if unit == "F":
    return (temp - 32) * 5/9
  if unit == "C":
    return (temp * 9/5) + 32

print(convert_temp(0, "C"))
print(convert_temp(32, "F"))

32.0
0.0

In [99]:
# Find Common Elements
# Write a function that returns the common elements between two given lists.

def find_common(a, b):
  for element in a:
    if element in b:
      print(element)

a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]
find_common(a, b)

3
4
5

In [98]:
# Simple Calculator
# Write a function calculator(a, b, op) that performs basic arithmetic operations (+, -, *, /) based on the operator passed.

def calculator(a, b, op):
  if op == '+':
    return a + b
  if op == '-':
    return a - b
  if op == '*':
    return a * b
  if op == '/':
    return a / b

print(calculator(5, 3, '+'))
print(calculator(5, 3, '-'))
print(calculator(5, 3, '*'))
print(calculator(5, 3, '/'))

8
2
15
1.6666666666666667

In [115]:
# Manual List Sort (Ascending Order)
# Write a Python function that takes a list of numbers as input and returns a new list with the numbers sorted in ascending order.
# Do not use the built-in sort() method or the sorted() function.
# You may implement any sorting algorithm of your choice (e.g., selection sort, bubble sort, etc.; ask google or chatgpt).

def sort_list(a):
  for i in range(len(a)):
    for j in range(i+1, len(a)):
      if a[i] > a[j]:
        temp = a[i]
        a[i] = a[j]
        a[j] = temp
  return a

print(sort_list([5, 2, 8, 1, 9]))

[1, 2, 5, 8, 9]

## Bouncing Ball

You drop a bouncing ball from a height of 1 meter. Each time the ball bounces, it reaches only 70% of the height of the previous bounce  that is, the bounce coefficient is 0.7. When the height of a bounce falls below 0.01 meters, the ball is considered to have stopped bouncing. Calculate the total distance the ball travels before it comes to rest.

In [ ]:
# Write your code here
# Use `while` loop

Now for the same problem, write a function that takes the initial height and the bouncing coefficient as arguments and return the total distance travelled by the ball.

Using the function, calculate the distance for initial height of 5 meters and bouncing coefficient of 0.85.

In [ ]:
# Write your code here